body {
  margin: 25px;
  font-family: sans-serif;
  font-weight: 500;
  color: #070707;
  background-color: gray;
}

.container {
  max-width: 940px;
  margin: 0 auto;
}

.calc_input {
  width: 70px;
  height: auto;
  background-color: white;
  color: black;
}