html, body {
  /* height: 100%; */
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  font-weight: 400;
  box-sizing: border-box;
}

ul,
ol {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  background-color: black;
  color: burlywood;
}

input {
  border-style: none;
  height: 45px;
}

.container {
  width: 594px;
  height: 476px;
  margin: 10px auto;
  border: 1px solid black;
}

.search-form {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.search-input {
  font-size: 18px;
}

.search-icon {
  width: 30px;
  height: 30px;
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

.main-section {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid black;
}

.left-section {
  display: flex;
  flex-direction: column;
  width: 297px;
  border-right: 1px solid black;
}

.info-weather {
  height: 345px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.temperature {
  font-size: 70px;
  padding: 0 0;
  margin: 0 0;
  margin-left: 15px;
  margin-top: 15px;
}

.info-weather-icon {
  width: 78px;
  height: 59px;
  margin: 0 auto;
}

.info-weather-footer {
  display: flex;
  justify-content: space-between;
}

.info-current-city {
  font-size: 35px;
  margin-left: 13px;
  margin-bottom: 10px;
}

.add-city {
  margin-top: 30px;
  margin-right: 5px;
}

.heart {
  margin-right: 13px;
}

.tabs-details {
  display: none;
}

.tabs-menu {
  height: 44px;
  border-top: 1px solid black;
}

.tabs-now {
  height: 345px;
}

.tabs {
  padding: 9px;
}

.tabs-list {
  height: 44px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.right-section {
  width: 297px;
}

.add-locations {
  border-bottom: 1px solid black;
  padding-left: 15px;
  padding-bottom: 5px;
}

.locations-list {
  position: relative;
  height: 267px;
  padding-left: 15px;
}

.locations-item {
  margin-bottom: 10px;
}

.delete-city {
  position: absolute;
  left: 245px;
  border: none;
  background: url(./img/close-icon.svg) no-repeat center;
  background-size: contain;
  cursor: pointer;
  width: 29px;
  height: 24px;
}