html, body {
  height: 100%;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

ul,
ol {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

h2 {
  margin: 10px;
  font-size: 18px;
  text-align: center;
}

.main {
  max-width: 480px;
  padding: 0px 8px 25px 8px;
  padding-top: 15px;
  margin: 25px auto 0px;

  border: 1px solid black;
}

form {
  position: relative;
}

.high_input,
.low_input {
  border: 1px solid black;
  border-radius: 6px;
  padding: 12px 12px;
  width: 460px;
  min-height: 45px;
}

.high_button,
.low_button {
  position: absolute;
  bottom: 11px;
  left: 430px;
  border: none;

  background: url(../img/add-icon.svg) no-repeat center;
  cursor: pointer;
  width: 21px;
  height: 21px;
}

.task {
  position: relative;
  margin: 8px 0px;
}

.radio {
  position: absolute;
  bottom: 16px;
  left: 13px;
}

.task_text {
  border: 1px solid black;
  border-radius: 6px;
  padding: 12px 45px;
  margin: 0;
  width: 460px;
  min-height: 45px;
}

.delete_button {
  position: absolute;
  bottom: 14px;
  left: 431px;
  border: none;

  background: url(../img/close-icon.svg) no-repeat center;
  background-size: contain;
  cursor: pointer;
  width: 19px;
  height: 19px;
}

.done {
  background: #9ff2cd;
}